.main-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main-container button {
    padding: 20px 30px;
    font-size: 30px;
    border-radius: 15px;
    margin-top: 30px;
}

button:hover {
    cursor: pointer;
}
