@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');

:root {
  --main-blue: #2596be;
  --main-red: #e11a16;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alice", Arial, Helvetica, sans-serif;
}




.image-leaderboard {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}